{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>Cyber Cafe Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Welcome to the Cyber Cafe Management System</h1>
    </header>


    <main>
        <h2>Cyber Cafe Management System</h2>
        <p>Manage your cyber cafe with ease using our powerful management system.</p>
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Cyber Cafe Management System</p>
    </footer>

</body>
</html>